[*.cs]

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace:silent

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line:silent

